{% extends "../base.html" %}

{% block content %}
    <div class="account">
        <h1>Редактирование профиля</h1>
        <p>Заполните и сохраните данные вашего профиля</p>
        <p><a href="{% url "password_change" %}">изменение пароля</a></p>
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <p><input type="submit" value="Сохранить изменения"></p>
        </form>
    </div>
{% endblock %}