{% extends "buysite/base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}
    <div class="account">
        <h1>Авторизоваться</h1>
        {% if form.errors %}
        <p>
            Исправтье следующие проблемы:
        </p>
        {% else %}
            <p>Пожалуйста, введите логин и пароль:</p>
        {% endif %}
        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="next" value="{{ next }}"/>
                <p><input type="submit" value="Войти"></p>
            </form>
        </div>
    </div>
    

{% endblock %}