{% extends "../base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<div class="account account-center">
    <h1>Вы вышли из учетной записи</h1>
    <p>Но можете <a href="{% url "login" %}">авторизоваться </a>вновь,</p>
    <p>или перейти на<a href="{% url "home" %}"> главную страницу </a>.</p>
</div>

{% endblock %}