{% extends "../base.html" %}

{% block content %}
    <div class="account account-center">
        <h1>{{ new_user.username }}</h1>
        <h1>Пароль успешно изменен!</h1>
        <p>Повторно <a href="{% url "login" %}">авторизуйтесь</a></p>
    </div>

{% endblock %}