{% extends "../base.html" %}

{% block content %}
    <div class="account">  
        <h1>Изменение пароля</h1>
        <p>Используйте старый пароль, для изменения на новый</p>
        <form action="." method="post">
            {{ form.as_p }}
            <p><input type="submit" value="Изменить"></p>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}