{% extends "../base.html" %}

{% block content %}
    <div class="account account-center">
        <h1>{{ new_user.username }}</h1>
        <h1>Успешно зарегистрирован!</h1>
        <p>Теперь вы можете перейти к <a href="{% url "login" %}">авторизации</a></p>
        
    </div>

{% endblock %}