{% extends "../base.html" %}

{% block content %}
    <div class="account">
        <h1>Создание пользователя</h1>
        <p>Пожалуйста, заполните поля:</p>
        <form action="." method="post">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ prof_form.as_p }}
            <p><input type="submit" value="Создать"></p>
        </form>
    </div>
{% endblock %}