/*--------------------------------------------------------------
Eric Meyer's CSS Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*--------------------------------------------------------------
fonts
--------------------------------------------------------------*/
@font-face {
	font-family: 'Montserrat-Regular';
	src: url("../fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url("../fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
	font-style: bold;
	font-weight: bold;
	}

@font-face {
		font-family: 'ekr';
		src: url("../fonts/Kassa/ekr-2102-2.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		}

@font-face {
		font-family: 'Narrow-Regular';
		src: url("../fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
		}

@font-face {
		font-family: 'Narrow-Bold';
		src: url("../fonts/PT_Sans_Narrow/PTSansNarrow-Bold.ttf") format("truetype");
		font-style: bold;
		font-weight: bold;
		}

@font-face {
	font-family: 'Kurale-Regular';
	src: url("../fonts/Kurale/Kurale-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'Alice-Regular';
	src: url("../fonts/Alice/Alice-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'Roboto-Regular';
	src: url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'Roboto-Black';
	src: url("../fonts/Roboto/Roboto-Black.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

@font-face {
	font-family: 'Roboto-Bold';
	src: url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
	}

/*--------------------------------------------------------------
basic setting
--------------------------------------------------------------*/

body{
	background-color: #343434;
	color: #2e2e2e;
	font-family: Roboto-Regular;
	word-break: break-word;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

h1 {
	color: #2e2e2e;
	font-family: Roboto-Black;
	font-weight: 900;
	font-size: 24px;
	line-height: 54px;
}

h2 {
	color: #2e2e2e;
	font-family: Roboto-Bold;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 24px;
}
a{
	color: #2e2e2e;
}
a:hover {
	color: #f8f8f8;
  }

label{
	color: #2e2e2e;
	font-family: Montserrat-Bold;
	font-weight: 900;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 24px;
  }

img{
	background-size: 100% auto;
	height: 
	100%;
}

button{
	border: 2px solid #99afcb;
	background-color: #99afcb;
	text-decoration: none;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
}

input[type="submit"]{
	border: none;
	color: #f8f8f8;
	text-align: center;
	text-decoration: none;
	
	padding: 10px;
	-webkit-transition-duration: 0.2s; /* Safari */
	transition-duration: 0.2s;
	cursor: pointer;
	background-color: #99afcb;
	color: black;
	border: 2px solid #99afcb;
}

input[type="submit"]:hover, button:hover {
	background-color: #6b90ca;
	border: 2px solid #f8f8f8;
}

/*--------------------------------------------------------------
layout
--------------------------------------------------------------*/
.layout{
	height: 100%;
	display: grid;
    grid-template-rows:
    [RowsStart]
	60px
	[Header]
	50px
	[Main]
	1fr
	[MainEnd]
	30px
	[Footer]
	60px
	[FooterEnd]
	30px
	[RowsEnd];

    grid-template-columns:
	[ColStart]
	1fr
	[PaddingLeft]
	5px
	[MainLeft]
	minmax(296px,800px)
	[MainRight]
	5px
	[PaddingRight]
	1fr
	[ColEnd];
}

/*inherit to pin footer*/
body,html{
		height: 100%;
		width: 100%;
	}

header{
		background-color: #6b90ca;
		display: grid;
		grid-row: RowsStart / Header;
		grid-column: ColStart / ColEnd;
		grid-template-rows: subgrid;
		grid-template-columns: subgrid;
	}

.header-inner{
		display: grid;
		grid-row: RowsStart / Header;
		grid-column: MainLeft / MainRight;
	}

main{
		background-color:#c4c4c4;
		
		height: 100%;
		display: grid;
		grid-row: Main / MainEnd;
		grid-column: MainLeft / MainRight;
		grid-template-rows: subgrid;
		grid-template-columns: subgrid;
		border-radius: 5px;
}

footer{
		background-color: #6b90ca;
		display: grid;
		grid-row: Footer / FooterEnd;
		grid-column: ColStart / ColEnd;
		grid-template-rows: subgrid;
		grid-template-columns: subgrid;
	}
.footer-inner{
		display: grid;
		grid-row: Footer / FooterEnd;
		grid-column: MainLeft / MainRight;
	}
/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
header{
	position: sticky;
	top: 0;
	z-index: 1;
}

.header-top{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 55px;
	padding-left: 10px;
	padding-right: 10px;
}

.header-nav{
		display: inline-flex;
		align-items: center;
		margin-left: 15px;
}

/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
.footer-inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*--------------------------------------------------------------
nav
--------------------------------------------------------------*/
nav{
	display: flex;
}
nav li{
	display: inline-flex;
	align-items: center;
	margin-left: 15px;
}

/*--------------------------------------------------------------
progress-bar
--------------------------------------------------------------*/
.progress-container {
	width: 100%;
	height: 5px;
	background: #6b90ca;
	position: sticky;
	top: 100px;
	z-index: 1;
  }
.progress-bar {
	height: 5px;
	background: #2e2e2e;
	width: 0%;
  }
.header-bar{
	height: 5px;
}
/*--------------------------------------------------------------
main
--------------------------------------------------------------*/

/*--------------------------------------------------------------
checking
--------------------------------------------------------------*/
.checking{
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
}

/*--------------------------------------------------------------
tab
--------------------------------------------------------------*/
.tab{
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.tab__head{
	display: flex;
	justify-content: space-between;

	width: 100%;
}

.tab__head__item {
	background-color: #99afcb;
	color: #2e2e2e;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 10px;
	font-size: 16px;
	width: 100%;
  }
  
.tab__head__item:hover {
	background-color: #6b90ca;
	border: none;
  }

.tab__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #6b90ca;
	display: none;
	width: 100%;
  }

.tab__input{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.tab__input__item{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 10px;
}

.fn, .fd, .fp{
	width: 80%;
}

.tab__action{
	margin-top: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #99afcb;
}

.btn input{
	margin-left: 20px;
}

.tab__file{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.qr-line, .qr-file{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 10px;
}

.qr-line textarea{
	width: 100%;
}
.qr-line__label{
	display: flex;
	align-items: center;
	height: 40px;
}
/*--------------------------------------------------------------
list
--------------------------------------------------------------*/
.list{
	width: 100%;
}
.QR{
	width: 100%;
}
.QR details summary{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 10px;
	padding-right: 10px;
	background-color:#99afcb
}
.QR details summary:hover{
	background-color:#6b90ca;
}
.QR details[open] summary{
	background-color: #6b90ca;
}

.QR details{
	margin:10px;
	border: 2px solid #aaa;
    border-radius: 5px;
}
.QR__param{
	display: flex;
}
.QR__param__name{
	width: 45%;
}
.QR__param__value{
	width: 55%;
}
.QR__body{
	padding-left: 5px;
}
.QR__buy{
	padding-top: 10px;
	margin-bottom: 5px;
	border-top: 2px solid #2e2e2e;
	border-bottom: 2px solid #2e2e2e;
}
.QR__buy__name{
	color: #2e2e2e;
	font-family: Roboto-Bold;
	word-break: break-word;
	font-size: 16px;
	margin-bottom: 5px;
}

.QR__error{
	padding-top: 10px;
	margin-bottom: 5px;
	border-top: 2px solid #2e2e2e;
	border-bottom: 2px solid #2e2e2e;
}

/*--------------------------------------------------------------
group
--------------------------------------------------------------*/
.group{
	padding: 20px;
}
.group__head{
	margin-bottom: 20px;
}
.group__param{
	display: flex;
}
.group__param__name{
	width: 20%;
}
.group__param__value{
	width: 80%;
}
.group__namelink{
	margin-bottom: 20px;
}
.group__namelink ul{
	margin-left: 20px;
}

/*--------------------------------------------------------------
ticket
--------------------------------------------------------------*/

.layout-ticket{
	background-color: #f8f8f8;
	height: 100%;
	display: grid;
    grid-template-rows:
    [RowsStart]
	1fr
	[RowsEnd];

    grid-template-columns:
	[ColStart]
	1fr
	[MainLeft]
	300px
	[MainRight]
	1fr
	[ColEnd];
}

.ticket{
	display: grid;
	grid-row: RowsStart / RowsEnd;
	grid-column: MainLeft / MainRight;
	display: flex;
	flex-direction: column;

	font-family: Narrow-Regular;
	font-size: 14px;

	padding-left: 10px;
	padding-right: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px dashed #2e2e2e;
	
}
.ticket b{
	font-family: Narrow-Bold;
}

.ticket__doc{
	border-bottom: 1px dashed #2e2e2e;
	color: #2e2e2e;
	font-family: Narrow-Bold;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.buy{
	padding-top: 10px;
}

.buy__subject{
	display: flex;
}
.buy__options{
	display: flex;
	justify-content: flex-end;
}

.total__amount{
	display: flex;
	justify-content: space-between;
	border-top: 1px dashed #2e2e2e;
	padding-top: 10px;
	margin-top: 10px;
}

.total__amount, .total__cashSum, .total__ecashSum, .total__nds, .total__count{
	display: flex;
	justify-content: space-between;
}

.ticket__details{
	margin-top: 10px;
	border-top: 1px dashed #2e2e2e;

}

.ticket__seller{
	margin-top: 10px;
	border-top: 1px dashed #2e2e2e;
}

.ticket__QR{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10px;
	border-top: 1px dashed #2e2e2e;
}
.ticket__QR img{
	height: 100%;
	width: 200px;
}
/*--------------------------------------------------------------
personal
--------------------------------------------------------------*/
.personal{
	height: 100%;
	padding: 10px;
}
.personal__info{
	padding: 10px;
	border-bottom: 2px solid #2e2e2e;
}
/*--------------------------------------------------------------
filter
--------------------------------------------------------------*/
.filter__sort{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-bottom: 2px solid #2e2e2e;
}

.filter-btn input{
	margin: 5px;
}

.filter__date input[type="date"]{
height: 36px;
}

.filter__date{
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
.filter__date-range{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*--------------------------------------------------------------
fbuy
--------------------------------------------------------------*/
.fbuy__name{
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: Roboto-Bold;
	font-weight: 900;
}

.fbuy__params{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-right: 1px solid #343434;
	border-bottom: 1px solid #343434;
	padding-bottom: 5px;
}

.fbuy__param{
	width: 20%;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-left: 1px solid #343434;
	font-size: 16px;
	line-height: 16px;
}

.fbuy__params:hover{
	background-color: #6b90ca;
}

.fbuy__btn{
display: flex;
}

.fbuy__btn button{
	background-color: #c4c4c4;
	border: none;
	cursor: pointer;
}

/*--------------------------------------------------------------
search
--------------------------------------------------------------*/
.search {
	display: flex;
	background-color: #2e2e2e;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.search__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #f8f8f8;
	height: 30px;
	background-color: #2e2e2e;
	text-decoration: none;
	outline: none;
	border: 0 !important;

}

.search__text {
	padding-left: 5px;
	border: none;
	outline: none;
	background: none;
	color: #f8f8f8;
	font-size: 16px;
	width: 250px;
}

.search:hover .search__btn {
	background-color: #343434;
}

.search__btn svg{
	fill: #99afcb
}

.search__btn:hover svg{
	fill: #f8f8f8;
	cursor: pointer;
}


.pagination{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

/*--------------------------------------------------------------
pagination
--------------------------------------------------------------*/

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	background-color: #f8f8f8;
	transition: background-color .3s;
	border: 1px solid #343434;
	margin: 0 4px;

  }
.pagination li {
  list-style-type: none;
}
.pagination a.active_nav {
	background-color: #99afcb;
  }

.pagination a.active_number {
	background-color: #343434;
	color: #f8f8f8;
	border: 1px solid #343434;
  }
  
.pagination a:hover:not(.active_number) {
	background-color: #99afcb;
}

/*--------------------------------------------------------------
account
--------------------------------------------------------------*/
.account{
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.errorlist{
	padding-left: 35px;
}

.account form ul{
	padding-left: 35px;
}

.account form p{
	display: flex;
	flex-direction: column;
}
.account-center{
	align-items: center;
}

.account form p input[type="submit"]{
	margin-top: 20px;
}

/*--------------------------------------------------------------
@media screen()
--------------------------------------------------------------*/

/*--------------------------------------------------------------
layout
--------------------------------------------------------------*/


@media screen and (min-width : 300px) and (max-width : 800px){

	.layout{
		height: 100%;
		display: grid;
		grid-template-rows:
		[RowsStart]
		60px
		[Header]
		50px
		[Main]
		1fr
		[MainEnd]
		30px
		[Footer]
		60px
		[FooterEnd]
		30px
		[RowsEnd];
	}

	.tab{
		width: 296px;
	}

	.QR details summary{
		padding-left: 10px;
		padding-right: 10px;
	}


/*--------------------------------------------------------------
group
--------------------------------------------------------------*/
	.group__param__name{
		width: 45%;
	}
	.group__param__value{
		width: 55%;
	}

/*--------------------------------------------------------------
filter
--------------------------------------------------------------*/
	.filter__date{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

/*--------------------------------------------------------------
fbuy
--------------------------------------------------------------*/
	.fbuy__params{
		display: flex;
		flex-direction: column;
		align-items:flex-start;
		border-right: none;
	}
	
	.fbuy__param{
		width: auto;
		display: flex;
		flex-direction: row;
		border-left: none;
	}
}

.thumbnail-item { 
	position: relative; 
	float: left;  
	margin: 0px 5px; 
}
.tooltip { 
	display: none; 
	position: absolute; 
	padding: 8px 0 0 8px; 
	}