{% extends 'buysite/base.html' %}
{% block content %}
<div class="account">
    <h1>Добавление группы товаров</h1>
    <form action="{% url 'addgroup' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ GroupForm.non_field_errors }}</div>

        {% for f in GroupForm %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
        {% endfor %}

        <p><input type="submit" value="Добавить"></p>
    </form>

{% endblock %}
