{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
        <meta name="keywords" content="" />
        <meta name="description" content="Привет! Этот проект, для обработки и сохранения чеков. А так же ведения расходов" />
        <meta name="robots" content="all"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="Author" content="Большаков Владимир">
        <meta name="Copyright" content="Большаков Владимир">
        <title>Bolshakovky.ru</title>

        
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'buysite/images/Favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'buysite/images/Favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'buysite/images/Favicon/favicon-16x16.png' %}">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

        <link href="{% static 'buysite/CSS/style.css' %}" rel="stylesheet">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    </head>

    <body>
        <div class="layout">
            <header>
                <div class="header-inner">
                  <div class="header-top">
                    <div class="auth">
                      <div id="header">
                        {% if request.user.is_authenticated %}
                          <a href="{% url "edit" %}">{{ request.user.username }}</a>|
                          <a href="{% url "personal" %}">Покупки</a>|
                          <a href="{% url "logout" %}">Выйти</a>
                        {% else %}
                          <a href="{% url "login" %}">Личный кабинет</a>
                        {% endif %}
                      </div>
                    </div>
                    <nav>
                      <ul>
                          <li>
                              <a href="{% url "home" %}">
                                  <span>Главная</span>
                              </a>
                          </li>
                          <li>
                              <a href="https://bolshakovsky.ru/article/pro-cheki/">
                                  <span>Ликбез</span>
                              </a>
                          </li>
                      </ul>
                    </nav>
                  </div>
                  <div class="header-bar">
                    <div class="progress-container">
                      <div class="progress-bar" id="myBar"></div>
                    </div>
                  </div>
                </div>
            </header>
            <main>
              {% block content %}
              {% endblock %}
            </main>
            <footer>
              <div class="footer-inner">
                {% if request.user.is_authenticated %}
                  <a href="{% url "addbuy" %}">Добавить покупку</a>|
                  <a href="{% url "personal" %}">Покупки</a>|
                  <a href="{% url "addgroup" %}">Добавить группу</a>
                {% else %}
                  <a href="{% url "register" %}">Регистрация</a>
                {% endif %}
              </div>
            </footer>
        </div>

    </body>
    <script src="{% static 'buysite/JS/progress-bar.js' %}"></script>
    <script src="{% static 'buysite/JS/tab-menu.js' %}"></script>
    <script src="{% static 'buysite/JS/help-img.js' %}"></script>
</html>