{% extends 'buysite/base.html' %}
{% block content %}
<div class="account">
    <h1>Редактирование покупки</h1>
    <form action="{% url 'editbuy' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-error">{{ BuyForm.non_field_errors }}</div>

        {% for f in BuyForm %}
            {% if f != BuyForm.user %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
            {% endif %}
        {% endfor %}
        <p><input type="submit" value="Редактировать"></p>
    </form>
</div>
{% endblock %}
