{% extends 'buysite/base.html' %}
{% block content %}
              <div class="group">
                <div class="group__head border-bottom">
                  <h2>{{ group.name }}</h2>
                  <form action="" method="post">
                    {% csrf_token %}
                    <div>
                      <button name = "editgroup" value="{{group.pk}}">Редактировать</button>
                      <button onclick="return confirm('Вы уверены, что хотите удалить группу?');" name = "delgroup" value="{{group.pk}}">Удалить</button>
                    </div>
                  </form>
                </div>
                <div>
                  <div class="group__param">
                    <div class="group__param__name">Категория:</div>
                    <div class="fbuy__param__value"><a href="{% url "category" group.category.slug %}">{{ group.category }}</a></div>
                  </div>
                  <div class="group__param">
                    <div class="group__param__name">Комментарий:</div>
                    <div class="group__param__value">{{ group.comment }}</div>
                  </div>
                </div>
                <div class="group__namelink">
                  <h2>Связанные названия товаров:</h2>
                  <details>
                    <summary>
                      Показать
                    </summary>
                    <ul>
                      {% for name in namelink %}
                        <li>{{ name.name }}</li>
                      {% endfor %}
                    </ul>
                  </details>
                </div>
                <div class="group__story">
                  <div class="group__story__haed">
                    <h2>История покупок:</h2>
                  </div>
                  <div class="filter">
                    <form action="" method="post">
                    {% csrf_token %}
                      <div class="filter__body">
                        {% if page_obj %}
                          {% for buy in page_obj %}
                          <div class="fbuy">
                            <div class="fbuy__name">
                              {{ buy.name }}
                              {% if buy.comment %}
                                &#91; {{ buy.comment }} &#93;
                              {% endif %}
                              <div class="fbuy__btn" >
                                <button name = "edit" value="{{buy.pk}}">
                                  <img src="/static/buysite/images/edit.svg" alt="" width="16" height="16">
                                </button>
                              {% if buy.ticket.fp %}
                                <a href= "{{buy.ticket.get_absolute_url}}" ><img src="/static/buysite/images/ticket.svg" alt="" width="16" height="16"></a>
                              {% endif %}
                              <button name = "del" value="{{buy.pk}}">
                                <img src="/static/buysite/images/del.svg" alt="" width="16" height="10">
                              </button>
                            </div>
                          </div>
                            <div class="fbuy__params">
  
                              <div class="fbuy__param">
                                {% if buy.group %}
                                  <div class="fbuy__param__name">Категория:</div>
                                  <div class="fbuy__param__value"><a href="{% url "category" buy.group.category.slug %}">{{ buy.group.category }}</a></div>
                                {% else %}
                                  <div class="fbuy__param__name">Категория:</div>
                                  <div class="fbuy__param__value">Пусто</div>
                                {% endif %}
                              </div>
  
                              <div class="fbuy__param">
                                {% if buy.group %}
                                  <div class="fbuy__param__name">Группа:</div>
                                  <div class="fbuy__param__value"><a href="{% url "group" buy.group.slug %}">{{ buy.group }}</a></div>
                                {% else %}
                                  <div class="fbuy__param__name">Группа:</div>
                                  <div class="fbuy__param__value">Пусто</div>
                                {% endif %}
                              </div>
  
                              <div class="fbuy__param">
                                  <div class="fbuy__param__name">Статус:</div>
                                  <div class="fbuy__param__value">{{ buy.get_state_display }}</div>
                              </div>
  
                              <div class="fbuy__param">
                                <div class="fbuy__param__name">Дата:</div>
                                <div class="fbuy__param__value">{{ buy.datestr }}</div>
                              </div>
  
                              <div class="fbuy__param">
                                <div class="fbuy__param__name">Цена:</div>
                                <div class="fbuy__param__value">{{ buy.price }}</div>
                              </div>
  
                              <div class="fbuy__param">
                                <div class="fbuy__param__name">Колличество:</div>
                                <div class="fbuy__param__value">{{ buy.quantity }}</div>
                              </div>
  
                              <div class="fbuy__param">
                                <div class="fbuy__param__name">Сумма:</div>
                                <div class="fbuy__param__value">{{ buy.sum }}</div>
                              </div>
                            </div>
                          </div>
                          {% endfor %}
                        {% else %}
                          Ничего не найдено
                        {% endif %}
                        {% if page_obj.paginator.count > 1 %}
                        <ul class="pagination">
                          <li>
                            <a href="{{prev_page_url}}" {% if prev_page_url %} class="active_nav" {% endif %}>&laquo;</a>
                          </li>
                          {% for page in page_obj.paginator.page_range %}
                          {% if page_obj.number == page %}
                          <li>
                            <a href="?page={{page}}" class="active_number">{{page}}</a>
                          </li>
                          {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
                          <li>
                            <a href="?page={{page}}">{{page}}</a>
                          </li>
                          {% endif %}
                          {% endfor %}
                          <li>
                            <a href="{{next_page_url}}" {% if next_page_url %} class="active_nav" {% endif %}>&raquo;</a>
                          </li>
                        </ul>
                        {% endif %}
                        {% if page_obj %}
                        <div class="filter__functions">
                          <div class="filter-btn"><input type="submit" value="Выгрузить в EXEL" name="exel"></div>
                        </div>
                        {% endif %}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
{% endblock %}