{% extends 'buysite/base.html' %}
{% block content %}
              <div class="checking">
                <div  class="checking__head">
                  <h1>Загрузка кассового чека </h1>
                </div>
                <div  class="tab">
                  <div class="tab__head">

                    <button class="tab__head__item" onclick="openPage('qr-details', this, '#6b90ca')" {% if activeTab == 'details' %}id="defaultOpen"{% endif %}>Реквизиты</button>

                    <button class="tab__head__item" onclick="openPage('qr-line', this, '#6b90ca')" {% if activeTab == 'line' %}id="defaultOpen"{% endif %}>Строка</button>

                    <button class="tab__head__item" onclick="openPage('qr-file', this, '#6b90ca')" {% if activeTab == 'file' %}id="defaultOpen"{% endif %}>Файл</button>
                  </div>
                  <div id="qr-details" class="tab__content">
                    <form action="{% url 'home' %}" method="post">
                      {% csrf_token %}
                      {% for dForm in  QRDetailForm %}
                        {% if dForm != QRDetailForm.save %}
                          <div class="tab__input">
                            <div class="tab__input__item">
                              <label for="{{ dForm.id_for_label }}">{{ dForm.label }}</label>
                              {{ dForm }}
                            </div>
                            <div>
                              {% if dForm == QRDetailForm.fn or dForm == QRDetailForm.fd or dForm == QRDetailForm.fp %}
                                <div class="thumbnail-item">
                                  <a href=""><img src="/static/buysite/images/question.svg" alt="" width="16" height="16"></a>
                                  <div class="tooltip">
                                    {% if dForm == QRDetailForm.fn %}
                                      <img src="/media/help/help-fn.jpg" alt="" width="300" height="185" />
                                    {% endif %}
                                    {% if dForm == QRDetailForm.fd %}
                                      <img src="/media/help/help-fd.jpg" alt="" width="300" height="185" />
                                    {% endif %}
                                    {% if dForm == QRDetailForm.fp %}
                                      <img src="/media/help/help-fp.jpg" alt="" width="300" height="185" />
                                    {% endif %}
                                  </div> 
                                </div>
                              {% endif %}

                              
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}

                      <div class="tab__action">
                        {% if SMSButton == False %}
                        <div>
                          <label for="{{ QRDetailForm.save.id_for_label }}">{{ QRDetailForm.save.label }}</label>
                          {{ QRDetailForm.save }}
                        </div>
                        <div class="btn"><input type="submit" value="Проверить" name="check-details"></div>
                        {% else %}
                          <div>
                            <label for="{{ SMSForm.sms.id_for_label }}">{{ SMSForm.sms.label }}</label>
                            {{ SMSForm.sms }}
                          </div>
                          <div class="btn"><input type="submit" value="Отправить" name="send-details"></div>
                        {% endif %}
                      </div>
                    </form>
                  </div>

                  <div id="qr-line" class="tab__content">
                    <form action="" class="qr-line" method="post">
                      {% csrf_token %}
                      {% for lForm in QRLineForm %}
                        {% if lForm != QRLineForm.save %}
                          <label for="{{ lForm.id_for_label }}">{{ lForm.label }}</label>
                          {{ lForm }}
                        {% endif %}
                      {% endfor %}
                      <div class="tab__action">
                        {% if SMSButton == False %}
                        <div>
                          <label for="{{ QRLineForm.save.id_for_label }}">{{ QRLineForm.save.label }}</label>
                          {{ QRLineForm.save }}
                        </div>
                        <div class="btn"><input type="submit" value="Проверить" name="check-line"></div>
                        {% else %}
                          <div>
                            <label for="{{ SMSForm.sms.id_for_label }}">{{ SMSForm.sms.label }}</label>
                            {{ SMSForm.sms }}
                          </div>
                          <div class="btn"><input type="submit" value="Отправить" name="send-line"></div>
                        {% endif %}
                      </div>
                    </form>
                  </div>

                  <div id="qr-file" class="tab__content">
                    <form action="" enctype="multipart/form-data" action="/upload/uploadFile" class="qr-file" method="post">
                      {% csrf_token %}
                      {% for fForm in QRFileForm %}
                        {% if fForm != QRFileForm.save %}
                          <label for="{{ fForm.id_for_label }}">{{ fForm.label }}</label>
                          {{ fForm }}
                        {% endif %}
                      {% endfor %}
                      <div class="tab__action">
                        {% if SMSButton == False %}
                        <div>
                          <label for="{{ QRFileForm.save.id_for_label }}">{{ QRFileForm.save.label }}</label>
                          {{ QRFileForm.save }}
                        </div>
                        <div class="btn"><input type="submit" value="Проверить" name="check-file"></div>
                        {% else %}
                          <div>
                            <label for="{{ SMSForm.sms.id_for_label }}">{{ SMSForm.sms.label }}</label>
                            {{ SMSForm.sms }}
                          </div>
                          <div class="btn"><input type="submit" value="Отправить" name="send-file"></div>
                        {% endif %}
                      </div>
                    </form>
                  </div>
                </div>
                {% if GlobalError %}
                  {% for GE in GlobalError %}
                    {{ GE }}
                  {% endfor %}
                {% else %}
                  <div class="list">
                    {% for o in out %}
                      {% if o.errorlist %}
                        <div class="QR">
                          <details>
                            <summary>
                              <div>
                                {{o.qrtext}}
                              </div>
                              <div>
                                <img class="cansel" src="/static/buysite/images/cansel.svg" alt="">
                              </div>
                            </summary>
                            <div class="QR__body">
                            {% for error in o.errorlist %}
                              <div "QR__error">
                                {{ error }}
                              </div>
                            {% endfor %}
                            </div>
                          </details>
                        </div>

                      {% else %}
                        <div class="QR">
                          <details>
                            <summary>
                              <div>
                                Чек {{o.Ticket.totalsum}}руб от {{o.Ticket.datestr}}
                              </div>
                              <div>
                                <img class="ok" src="/static/buysite/images/ok.svg" alt="">
                              </div>
                            </summary>
                            <div class="QR__body">
                              <div>
                                <div class="QR__param">
                                  <div class="QR__param__name">ККТ:</div>
                                  <div class="QR__param__value">{{o.Ticket.kkt}}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">ФД:</div>
                                  <div class="QR__param__value">{{o.Ticket.fd}}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">ФН:</div>
                                  <div class="QR__param__value">{{o.Ticket.fn}}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">ФП:</div>
                                  <div class="QR__param__value">{{o.Ticket.fp}}</div>
                                </div>
                              </div>
                              {% for buy in o.Buylist %}
                              <div class="QR__buy">
                                <div class="QR__buy__name">
                                {{ buy.name }}
                                </div>
                                <div>
                                  {{ buy.price }} руб * {{ buy.quantity }} = <b>{{ buy.sum }} руб</b>
                                </div>
                              </div>
                              {% endfor %}
                              <div>
                                <div class="QR__param">
                                  <div class="QR__param__name"><b>ИТОГО:</b></div>
                                  <div class="QR__param__value"><b>{{ o.Ticket.totalsum }} руб</b></div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">Наличными:</div>
                                  <div class="QR__param__value">{{ o.Ticket.cashTotalSum }} руб</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">Безналичными:</div>
                                  <div class="QR__param__value">{{ o.Ticket.ecashTotalSum }} руб</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">Продавец:</div>
                                  <div class="QR__param__value">{{ o.Ticket.user }}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">ИНН:</div>
                                  <div class="QR__param__value">{{ o.Ticket.userInn }}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">Место расчетов:</div>
                                  <div class="QR__param__value">{{ o.Ticket.retailplace }}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">Дата:</div>
                                  <div class="QR__param__value">{{ o.Ticket.datetime }}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">Чек:</div>
                                  <div class="QR__param__value">{{ o.Ticket.requestNumber }}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">Смена:</div>
                                  <div class="QR__param__value">{{ o.Ticket.shiftnumber }}</div>
                                </div>
                                <div class="QR__param">
                                  <div class="QR__param__name">Кассир:</div>
                                  <div class="QR__param__value">{{ o.Ticket.operator }}</div>
                                </div>
                              </div>
                            </div>
                          </details>
                        </div>
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endif %}
              </div>

{% endblock %}