{% extends 'buysite/base.html' %}
{% block content %}
              <div class="personal">
                <div class="personal__info">
                  <h2>{{ request.user.username }}</h2>
                  {% for a in alert %}
                    {% if a.URL %}
                      <img src="/static/buysite/images/alarm.svg" alt="" width="16" height="16">&nbsp<a href="{{a.URL}}">{{a.text}}</a>
                    {% else %}
                      <img src="/static/buysite/images/alarm.svg" alt="" width="16" height="16">{{a.text}}
                    {% endif %}
                  {% endfor %}
                </div>


                <div class="filter">
                  <form action="" method="post">
                  {% csrf_token %}
                    <div class="filter__sort">
                      <div class="filter__date">
                        <div>
                        {% for f in personalForm %}
                          <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                          {{f}}
                        {% endfor %}
                        </div>
                        <div class="filter-btn"><input type="submit" value="Показать" name="show"></div>
                      </div>

                      <div class="filter__date-range">
                        <div class="filter-btn"><input type="submit" value="3 дня" name="three-days"></div>
                        <div class="filter-btn"><input type="submit" value="Неделя" name="week"></div>
                        <div class="filter-btn"><input type="submit" value="Месяц" name="month"></div>
                        <div class="filter-btn"><input type="submit" value="Все" name="all"></div>
                      </div>

                      <div class="search">
                        <input type="text" class="search__text" placeholder="Поиск" name='search'>
                        <button class="search__btn" type="submit">
                            <svg version="1.1" id="search-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 612.08 612.08" xml:space="preserve">
                                <g><path d="M237.927,0C106.555,0,0.035,106.52,0.035,237.893c0,131.373,106.52,237.893,237.893,237.893
                                    c50.518,0,97.368-15.757,135.879-42.597l0.028-0.028l176.432,176.433c3.274,3.274,8.48,3.358,11.839,0l47.551-47.551
                                    c3.274-3.274,3.106-8.703-0.028-11.838L433.223,373.8c26.84-38.539,42.597-85.39,42.597-135.907C475.82,106.52,369.3,0,237.927,0z
                                    M237.927,419.811c-100.475,0-181.918-81.443-181.918-181.918S137.453,55.975,237.927,55.975s181.918,81.443,181.918,181.918
                                    S338.402,419.811,237.927,419.811z"/></g>
                            </svg>
                        </button>
                      </div>
                    </div>

                    <div class="filter__body">
                      {% if page_obj %}
                        {% for buy in page_obj %}
                        <div class="fbuy">
                          <div class="fbuy__name">
                              {{ buy.name }}
                              {% if buy.comment %}
                                &#91; {{ buy.comment }} &#93;
                              {% endif %}
                              <div class="fbuy__btn" >
                                <button name = "edit" value="{{buy.pk}}">
                                  <img src="/static/buysite/images/edit.svg" alt="" width="16" height="16">
                                </button>
                              {% if buy.ticket.fp %}
                                <a href= "{{buy.ticket.get_absolute_url}}" ><img src="/static/buysite/images/ticket.svg" alt="" width="16" height="16"></a>
                              {% endif %}
                              <button name = "del" value="{{buy.pk}}">
                                <img src="/static/buysite/images/del.svg" onclick="return confirm('Вы уверены, что хотите удалить запись?');" alt="" width="16" height="10">
                              </button>
                            </div>
                          </div>
                          <div class="fbuy__params">

                            <div class="fbuy__param">
                              {% if buy.group %}
                                <div class="fbuy__param__name">Категория:</div>
                                <div class="fbuy__param__value"><a href="{% url "category" buy.group.category.slug %}">{{ buy.group.category }}</a></div>
                                <div class="fbuy__param__value"></div>
                              {% else %}
                                <div class="fbuy__param__name">Категория:</div>
                                <div class="fbuy__param__value">Пусто</div>
                              {% endif %}
                            </div>

                            <div class="fbuy__param">
                              {% if buy.group %}
                                <div class="fbuy__param__name">Группа:</div>
                                <div class="fbuy__param__value"><a href="{% url "group" buy.group.slug %}">{{ buy.group }}</a></div>
                              {% else %}
                                <div class="fbuy__param__name">Группа:</div>
                                <div class="fbuy__param__value">Пусто</div>
                              {% endif %}
                            </div>

                            <div class="fbuy__param">
                                <div class="fbuy__param__name">Статус:</div>
                                <div class="fbuy__param__value">{{ buy.get_state_display }}</div>
                            </div>

                            <div class="fbuy__param">
                              <div class="fbuy__param__name">Дата:</div>
                              <div class="fbuy__param__value">{{ buy.datestr }}</div>
                            </div>

                            <div class="fbuy__param">
                              <div class="fbuy__param__name">Цена:</div>
                              <div class="fbuy__param__value">{{ buy.price }}</div>
                            </div>

                            <div class="fbuy__param">
                              <div class="fbuy__param__name">Колличество:</div>
                              <div class="fbuy__param__value">{{ buy.quantity }}</div>
                            </div>

                            <div class="fbuy__param">
                              <div class="fbuy__param__name">Сумма:</div>
                              <div class="fbuy__param__value">{{ buy.sum }}</div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      {% else %}
                        Ничего не найдено
                      {% endif %}
                      {% if page_obj.paginator.count > 1 %}
                      <ul class="pagination">
                        <li>
                          <a href="{{prev_page_url}}" {% if prev_page_url %} class="active_nav" {% endif %}>&laquo;</a>
                        </li>
                        {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                        <li>
                          <a href="?page={{page}}" class="active_number">{{page}}</a>
                        </li>
                        {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
                        <li>
                          <a href="?page={{page}}">{{page}}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                          <a href="{{next_page_url}}" {% if next_page_url %} class="active_nav" {% endif %}>&raquo;</a>
                        </li>
                      </ul>
                      {% endif %}
                      {% if page_obj %}
                      <div class="filter__functions">
                        <div class="filter-btn"><input type="submit" value="Выгрузить в EXEL" name="exel"></div>
                      </div>
                      {% endif %}
                    </div>
                  </form>
                </div>
              </div>
{% endblock %}