
{% extends 'buysite/base.html' %}
{% load static %}
<style type="text/css">
  @font-face {
		font-family: 'Narrow-Regular';
		src: url("{% static 'buysite//fonts/PT_Sans_Narrow/PTSansNarrow-Regular.ttf' %}") format("truetype");
		font-style: normal;
		font-weight: normal;
		}
</style>
{% block content %}
      <div class="layout-ticket">
        <div class="ticket">
          <div class="ticket__doc">
            <div class="ticket__docType">
              КАССОВЫЙ ЧЕК
            </div>
            <div class="ticket__operationType">
              {{ ticket.get_operationType_display }}
            </div>
          </div>

          <div class="ticket__buy">
            {% for b in buy %}
            <div class="buy">
              <div class="buy__subject">
                <div class="buy__name">
                  {{ b.name }}
                </div>
              </div>
              <div class="buy__options">
                <div class="buy__count">
                  {{ b.quantity }} &nbsp &#215 &nbsp
                </div>
                <div class="buy__price">
                  {{ b.price }}руб &nbsp = &nbsp
                </div>
                <div class="buy__sum">
                  <b>{{ b.sum }}руб</b>
                </div>
              </div>
            </div>
            {% endfor %}

            <div class="ticket__total">
              <div class="total__amount">
                <div>
                  <b>ИТОГО:</b>
                </div>
                <div>
                  <b>{{ ticket.totalsum }}руб</b>
                </div>
              </div>
              <div class="total__cashSum">
                <div>
                  Наличными:
                </div>
                <div>
                  {{ ticket.cashTotalSum }}руб
                </div>
              </div>
              <div class="total__ecashSum">
                <div>
                  Безналичными:
                </div>
                <div>
                  {{ ticket.ecashTotalSum }}руб
                </div>
              </div>
            </div>
            <div class="ticket__details">
              <div>
                Вид налогообложения: &nbsp {{ ticket.get_taxationType_display }}
              </div>
              <div>
                ККТ: &nbsp {{ ticket.kkt }}
              </div>
              <div>
                ФД: &nbsp {{ ticket.fd }}
              </div>
              <div>
                ФН: &nbsp {{ ticket.fn }}
              </div>
              <div>
                ФП: &nbsp {{ ticket.fp }}
              </div>
            </div>
            <div class="ticket__seller">
              <div>
                Продавец: &nbsp {{ ticket.user }}
              </div>
              <div>
                ИНН: &nbsp {{ ticket.userInn }}
              </div>
              <div>
                Место расчетов: &nbsp {{ ticket.retailplace }}
              </div>
              <div>
                Дата: &nbsp {{ ticket.datetime }}
              </div>
              <div>
                Чек: &nbsp {{ ticket.requestNumber }}
              </div>
              <div>
                Смена: &nbsp {{ ticket.shiftnumber }}
              </div>
              <div>
                Кассир: &nbsp {{ ticket.operator }}
              </div>
            </div>
            <div class="ticket__QR">
              <img src="{{ img }}">
            </div>
          </div>
        </div>
      </div>
{% endblock %}